body {
    background-color: #E1E5EE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
}

h1 {
    margin-bottom: 10rem;
    margin-top: 3rem;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
}

nav ul li {
    background-color: #fff;
    padding: 2rem;
}

#resource-container {
    background-color: #fff;
    padding: 5rem;
}
