:root {
    --dark-slate-blue: #2A324B;
    --cool-blue: #58699D;
    --light-gray-blue: #E1E5EE;
    --pure-white: #fff;
}

body {
    background-color: var(--light-gray-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;

    h1 {
        margin-bottom: 10rem;
        margin-top: 3rem;
    }
}

main {
    nav {
        ul {
            display: flex;
            list-style: none;
            justify-content: space-between;
            gap: 1rem;
            margin: 0;
            padding: 0;

            .tab {
                background-color: var(--dark-slate-blue);
                font-weight: 900;
                color: var(--pure-white);
                padding: 25px 65px 25px 65px;
            }

            .tab.active {
                background-color: var(--pure-white);
                color: var(--dark-slate-blue);
            }
        }
    }
    
    #resource-container {
            background-color: var(--pure-white);
            padding: 2rem;
            max-width: 1090px;

            h2 {
                color: var(--dark-slate-blue);
            }

            ul {
                li {
                    a {
                        color: var(--cool-blue);
                    }
                }
            }
        }
    }
        
